body {
font-family:arial,helvetica,sans-serif;font-size:10pt;background:#EEF2FF url(/image/fade-blue.png) top center repeat-x;color:#000;padding-left:5px;padding-right:5px;margin-right:0;margin-left:0;margin-top:5px;
}

.heading {
  padding: 15px;
  border: 1px solid red;
  font-size: 25px;
  font-style: bold;
  font-style: italic;
  font-style: undeline;
  font-family: Comic Sans;
  text-align: center;
  height: 150px;
}

.menuAndContent {
  width: 10%;
  height: 100%;
}

.menu {
  padding-right: 5px;
  padding-left: 0px;
  padding-bottom: 20px;
  border: thin solid red;
  position: absolute;
  left: 160px;
  height: 80%;
  width: 150px;
  background: #FFFFFF;
  top: 160px;
}

.content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid red;
  background: #FFFFFF;	
  position:absolute;
  left: 325px; 
  right: 150px;
  top: 160px;
  height: 80%;
}
