body {
	font-family:arial,helvetica,sans-serif;
	font-size:10pt;
	background:#EEF2FF url(/image/fade-blue.png) top center repeat-x;
	color:#000;
	padding-left:5px;
	padding-right:5px;
	margin-right:0;
	margin-left:0;
	margin-top:5px;
}

.heading {
  padding: 15px;
  font-size: 25px;
  font-style: bold;
  font-style: italic;
  font-style: undeline;
  text-align: center;
  height: 150px;
}

.menuAndContent {
  width: 10%;
  height: 100%;
}

.menu {
  padding-right: 5px;
  padding-left: 0px;
  padding-bottom: 20px;
  border: thin solid red;
  border-radius: 15px;
  position: absolute;
  right: 130px;
  height: 150px;
  width: 170px;
 // background: #ccffff;
 background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.14, rgb(239,212,247)),
	color-stop(0.58, rgb(242,252,252))
);
 
  top: 160px;
}

.content {
border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid red;
 // background: #F0FFFF;
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.14, rgb(239,212,247)),
	color-stop(0.58, rgb(242,252,252))
);	
  position:absolute;
  right: 325px; 
  left: 150px;
  top: 160px;
  height: 50%;
}

.tabelka {
	   padding-top: 50px;
	   padding-left: 50px;
	   align=center;
	}
	
	.formy {
	   padding-top: 150px;
	   padding-left: 40%;
	   align=center;
	}
}
